/* Your CSS file or inline styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbarposter {
  background-image: url("../../assets/poster.webp");
  background-size: contain; /* Adjust the background size to contain the entire image */
  background-position: center; /* Center the background image */
  /* Add other styles for your navbar */
}
