.order_confirm_final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    margin-top: 0;
    gap:10%;
    font-family: 'Comfortaa', cursive;
}